<table>
    <thead>
        <tr>
            <th colspan="2"><%=@kitty.name%></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>    <%= @kitty.birth_date %> </td>
            <td>    <%= @kitty.sex %> </td>
            <td>    <%= @kitty.color %> </td>
            <td>    <%= @kitty.description %> </td>
            
        </tr>
    </tbody>
</table>
     
   